# Data Science Tools and Ecosystem

**Objectives:**
List popular languages for Data Science
- Python
- R
- SQL
- Scala
- Java
- C++
- Julia

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. SQL

Some of the commonly used libraries used by Data Scientists include:
1. ggplot2
2. pandas
3. numpy

|Data Science Tools|
| ------ |
| Jupyter |
|Apache Zeppelin |
| RStudio |

### Below are a few examples of evaluating arithmetic expressions in Python

In [4]:
(3*4)+5
# This a simple arithmetic expression to mutiply then add integers

17

In [17]:
minutes = 200
hours = minutes // 60
hours
#This will convert 200 minutes to hours by diving by 60

3

## Author
Chaiyan Ninsamran